/*Главный контейнер*/
.container {
    margin-top: 5rem;

    /*// Header*/

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    /*// Body*/

    .body {
        display: flex;

        /*// Первая колонка для постов*/

        .posts {
            flex: 2;
            margin-right: 2rem;
        }

        /*// Вторая колонка для комментариев*/

        .comments {
            flex: 1;
        }
    }

    /*// Footer*/

    .footer {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}